-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "SubscriptionStatus" AS ENUM ('FREE', 'PENDING', 'ACTIVE', 'CANCELLED', 'EXPIRED');

-- CreateEnum
CREATE TYPE "SyncStatus" AS ENUM ('completed', 'processing', 'failed');

-- CreateEnum
CREATE TYPE "SyncOperationType" AS ENUM ('Collection', 'ProductType', 'Product');

-- CreateEnum
CREATE TYPE "FilterTrackType" AS ENUM ('filter', 'preview');

-- CreateTable
CREATE TABLE "Product" (
    "shop" TEXT NOT NULL,
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "handle" TEXT,
    "status" TEXT NOT NULL,
    "productType" TEXT,
    "vendor" TEXT,
    "tags" TEXT[],
    "templateSuffix" TEXT,
    "description" TEXT,
    "createdAt" TIMESTAMP(3),
    "updatedAt" TIMESTAMP(3),
    "publishedAt" TIMESTAMP(3),
    "seoTitle" TEXT,
    "seoDescription" TEXT,
    "totalInventory" INTEGER,
    "categoryId" TEXT,
    "categoryName" TEXT,
    "featuredImageUrl" TEXT,
    "featuredImageAltText" TEXT,
    "optionsJson" JSONB,
    "collectionsJson" JSONB,
    "option1Name" TEXT,
    "option2Name" TEXT,
    "option3Name" TEXT,
    "variantCount" INTEGER DEFAULT 0,
    "visibleOnlineStore" BOOLEAN,

    CONSTRAINT "Product_pkey" PRIMARY KEY ("shop","id")
);

-- CreateTable
CREATE TABLE "Variant" (
    "shop" TEXT NOT NULL,
    "id" TEXT NOT NULL,
    "productId" TEXT NOT NULL,
    "title" TEXT,
    "sku" TEXT,
    "barcode" TEXT,
    "price" DOUBLE PRECISION,
    "compareAtPrice" DOUBLE PRECISION,
    "inventoryQuantity" INTEGER,
    "inventoryPolicy" TEXT,
    "taxable" BOOLEAN,
    "taxCode" TEXT,
    "position" INTEGER,
    "selectedOptionsJson" JSONB,
    "cost" DOUBLE PRECISION,
    "countryOfOrigin" TEXT,
    "hsTariffCode" TEXT,
    "weight" DOUBLE PRECISION,
    "weightUnit" TEXT,
    "option1Value" TEXT,
    "option2Value" TEXT,
    "option3Value" TEXT,
    "physicalProduct" BOOLEAN,
    "profitMargin" DOUBLE PRECISION,
    "tracked" BOOLEAN,

    CONSTRAINT "Variant_pkey" PRIMARY KEY ("shop","id")
);

-- CreateTable
CREATE TABLE "SpreadsheetFile" (
    "id" TEXT NOT NULL,
    "shop" TEXT,
    "editHistoryId" TEXT,
    "fileUrl" TEXT,
    "columnMappings" JSONB,
    "totalRows" INTEGER,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "SpreadsheetFile_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Store" (
    "id" TEXT NOT NULL,
    "shopUrl" TEXT NOT NULL,
    "shopEmail" TEXT NOT NULL,
    "accessToken" TEXT,
    "isCollectionSyncing" BOOLEAN NOT NULL DEFAULT false,
    "lastCollectionSyncAt" TIMESTAMP(3),
    "isProductTypeSyncing" BOOLEAN NOT NULL DEFAULT false,
    "lastProductTypeSyncAt" TIMESTAMP(3),
    "isProductInitialySyning" BOOLEAN NOT NULL DEFAULT false,
    "productInitialSyncProgress" INTEGER NOT NULL DEFAULT 0,
    "shopifyBulkJobCompleted" BOOLEAN NOT NULL DEFAULT false,
    "storeTotalProducts" INTEGER NOT NULL DEFAULT 0,
    "isProductSyncing" BOOLEAN NOT NULL DEFAULT false,
    "lastProductSyncAt" TIMESTAMP(3),
    "scope" TEXT DEFAULT '',
    "installedAt" TIMESTAMP(3),
    "unInstalledAt" TIMESTAMP(3),
    "isUnInstalled" BOOLEAN NOT NULL DEFAULT false,
    "referralCode" TEXT,
    "referralLink" TEXT,
    "referredBy" TEXT,
    "refIsFirstSubscriptionCompleted" BOOLEAN NOT NULL DEFAULT false,
    "refSubscribedDate" TIMESTAMP(3),
    "refRewardExpiresAt" TIMESTAMP(3),
    "refRewarded" BOOLEAN NOT NULL DEFAULT false,
    "refSubscribedPlanDetails" JSONB,
    "refEarnedPrice" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "isCreditAvailable" BOOLEAN NOT NULL DEFAULT false,
    "lastActivityAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Store_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Subscription" (
    "id" TEXT NOT NULL,
    "shop" TEXT NOT NULL,
    "planKey" TEXT,
    "planName" TEXT,
    "subscriptionId" TEXT,
    "status" "SubscriptionStatus" NOT NULL DEFAULT 'FREE',
    "pendingSubscriptionId" TEXT,
    "pendingPlanKey" TEXT,
    "pendingPlanName" TEXT,
    "trialEndsAt" TIMESTAMP(3),
    "currentPeriodEnd" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Subscription_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Suggestion" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "suggestion" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Suggestion_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SyncHistory" (
    "id" TEXT NOT NULL,
    "shop" TEXT NOT NULL,
    "bulkOperationId" TEXT,
    "responseUrl" TEXT,
    "status" "SyncStatus" NOT NULL DEFAULT 'processing',
    "duration" INTEGER DEFAULT 0,
    "recordCount" INTEGER,
    "operationType" "SyncOperationType",
    "isInitialProductSync" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "SyncHistory_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "EditHistory" (
    "id" TEXT NOT NULL,
    "shop" TEXT NOT NULL,
    "bulkOperationId" TEXT,
    "title" JSONB,
    "queryFilter" TEXT NOT NULL DEFAULT '',
    "editedType" TEXT,
    "rules" JSONB,
    "affectedFields" JSONB,
    "locationId" TEXT,
    "status" TEXT NOT NULL DEFAULT 'pending',
    "scheduledAt" TIMESTAMP(3),
    "scheduledUndoAt" TIMESTAMP(3),
    "processedCount" INTEGER NOT NULL DEFAULT 0,
    "totalItems" INTEGER NOT NULL DEFAULT 0,
    "totalRows" INTEGER NOT NULL DEFAULT 0,
    "durationMs" INTEGER NOT NULL DEFAULT 0,
    "editTime" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "startedAt" TIMESTAMP(3) NOT NULL,
    "completedAt" TIMESTAMP(3),
    "undo" JSONB,
    "batch" JSONB,
    "type" TEXT DEFAULT 'Manual edit',
    "processingBatchId" TEXT,
    "scheduledTask" TEXT,
    "user" TEXT,
    "isFavourite" BOOLEAN NOT NULL DEFAULT false,
    "isSpreadsheetEdit" BOOLEAN NOT NULL DEFAULT false,
    "error" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "EditHistory_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Collection" (
    "id" TEXT NOT NULL,
    "shop" TEXT,
    "shopifyId" TEXT,
    "title" TEXT,
    "handle" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Collection_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ExportHistory" (
    "id" TEXT NOT NULL,
    "shop" TEXT NOT NULL,
    "filename" TEXT NOT NULL,
    "filters" JSONB NOT NULL,
    "exportedData" TEXT,
    "status" TEXT NOT NULL,
    "duration" TEXT NOT NULL,
    "totalItems" INTEGER,
    "errorMessage" TEXT,
    "exportTime" TIMESTAMP(3),
    "type" TEXT NOT NULL DEFAULT 'Manual export',
    "isFavourite" BOOLEAN NOT NULL DEFAULT false,
    "scheduledTask" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ExportHistory_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ExportJob" (
    "id" TEXT NOT NULL,
    "shop" TEXT NOT NULL,
    "filterQuery" TEXT NOT NULL DEFAULT '{}',
    "filename" TEXT NOT NULL,
    "fields" TEXT[],
    "status" TEXT NOT NULL DEFAULT 'PENDING',
    "fileUrl" TEXT,
    "type" TEXT NOT NULL DEFAULT 'Manual export',
    "totalItems" INTEGER,
    "durationMs" INTEGER,
    "startedAt" TIMESTAMP(3),
    "completedAt" TIMESTAMP(3),
    "error" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ExportJob_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ChangeRecord" (
    "id" TEXT NOT NULL,
    "editHistoryId" TEXT NOT NULL,
    "productId" TEXT NOT NULL,
    "shop" TEXT NOT NULL,
    "options" JSONB,
    "productFieldChanges" JSONB,
    "variantFieldChanges" JSONB,
    "image" TEXT,
    "title" TEXT NOT NULL,
    "scope" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'pending',
    "batchId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ChangeRecord_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "FilterTrack" (
    "id" TEXT NOT NULL,
    "shop" TEXT,
    "filterParams" JSONB,
    "previewFilterParams" JSONB,
    "respondProductCount" INTEGER,
    "previewResCount" INTEGER,
    "type" "FilterTrackType" NOT NULL DEFAULT 'filter',
    "field" TEXT,
    "editOption" TEXT,
    "searchKey" TEXT,
    "replaceText" TEXT,
    "supportValue" TEXT,
    "value" JSONB,
    "en" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "FilterTrack_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ReferralCode" (
    "id" TEXT NOT NULL,
    "shop" TEXT NOT NULL,
    "referralCode" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ReferralCode_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AffiliateUser" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "referralCode" TEXT NOT NULL,
    "referralLink" TEXT NOT NULL,
    "numberOfReferrals" INTEGER NOT NULL DEFAULT 0,
    "numberOfStoresSubscribed" INTEGER NOT NULL DEFAULT 0,
    "totalAmountEarned" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "phone" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AffiliateUser_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Location" (
    "shop" TEXT NOT NULL,
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,

    CONSTRAINT "Location_pkey" PRIMARY KEY ("shop","id")
);

-- CreateTable
CREATE TABLE "ErrorLog" (
    "id" BIGSERIAL NOT NULL,
    "shop" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "level" TEXT NOT NULL DEFAULT 'error',
    "message" TEXT NOT NULL,
    "stack" TEXT,
    "source" TEXT,
    "request" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ErrorLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "shopify_sessions" (
    "id" VARCHAR(255) NOT NULL,
    "shop" VARCHAR(255) NOT NULL,
    "state" VARCHAR(255) NOT NULL,
    "isOnline" BOOLEAN NOT NULL,
    "scope" VARCHAR(1024),
    "expires" INTEGER,
    "onlineAccessInfo" VARCHAR(255),
    "accessToken" VARCHAR(255),

    CONSTRAINT "shopify_sessions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "shopify_sessions_migrations" (
    "migration_name" VARCHAR(255) NOT NULL,

    CONSTRAINT "shopify_sessions_migrations_pkey" PRIMARY KEY ("migration_name")
);

-- CreateIndex
CREATE INDEX "Product_shop_status_idx" ON "Product"("shop", "status");

-- CreateIndex
CREATE INDEX "Product_shop_vendor_idx" ON "Product"("shop", "vendor");

-- CreateIndex
CREATE INDEX "Product_shop_productType_idx" ON "Product"("shop", "productType");

-- CreateIndex
CREATE INDEX "Product_shop_title_idx" ON "Product"("shop", "title");

-- CreateIndex
CREATE INDEX "Product_shop_handle_idx" ON "Product"("shop", "handle");

-- CreateIndex
CREATE INDEX "Product_shop_createdAt_idx" ON "Product"("shop", "createdAt");

-- CreateIndex
CREATE INDEX "Product_shop_updatedAt_idx" ON "Product"("shop", "updatedAt");

-- CreateIndex
CREATE INDEX "Product_shop_publishedAt_idx" ON "Product"("shop", "publishedAt");

-- CreateIndex
CREATE INDEX "Product_shop_categoryName_idx" ON "Product"("shop", "categoryName");

-- CreateIndex
CREATE INDEX "Product_shop_templateSuffix_idx" ON "Product"("shop", "templateSuffix");

-- CreateIndex
CREATE INDEX "Product_shop_option1Name_idx" ON "Product"("shop", "option1Name");

-- CreateIndex
CREATE INDEX "Product_shop_option2Name_idx" ON "Product"("shop", "option2Name");

-- CreateIndex
CREATE INDEX "Product_shop_option3Name_idx" ON "Product"("shop", "option3Name");

-- CreateIndex
CREATE INDEX "Product_shop_variantCount_idx" ON "Product"("shop", "variantCount");

-- CreateIndex
CREATE INDEX "Product_shop_visibleOnlineStore_idx" ON "Product"("shop", "visibleOnlineStore");

-- CreateIndex
CREATE INDEX "Variant_shop_sku_idx" ON "Variant"("shop", "sku");

-- CreateIndex
CREATE INDEX "Variant_shop_price_idx" ON "Variant"("shop", "price");

-- CreateIndex
CREATE INDEX "Variant_shop_productId_idx" ON "Variant"("shop", "productId");

-- CreateIndex
CREATE INDEX "Variant_shop_barcode_idx" ON "Variant"("shop", "barcode");

-- CreateIndex
CREATE INDEX "Variant_shop_title_idx" ON "Variant"("shop", "title");

-- CreateIndex
CREATE INDEX "Variant_shop_compareAtPrice_idx" ON "Variant"("shop", "compareAtPrice");

-- CreateIndex
CREATE INDEX "Variant_shop_cost_idx" ON "Variant"("shop", "cost");

-- CreateIndex
CREATE INDEX "Variant_shop_inventoryQuantity_idx" ON "Variant"("shop", "inventoryQuantity");

-- CreateIndex
CREATE INDEX "Variant_shop_inventoryPolicy_idx" ON "Variant"("shop", "inventoryPolicy");

-- CreateIndex
CREATE INDEX "Variant_shop_taxable_idx" ON "Variant"("shop", "taxable");

-- CreateIndex
CREATE INDEX "Variant_shop_weight_idx" ON "Variant"("shop", "weight");

-- CreateIndex
CREATE INDEX "Variant_shop_weightUnit_idx" ON "Variant"("shop", "weightUnit");

-- CreateIndex
CREATE INDEX "Variant_shop_countryOfOrigin_idx" ON "Variant"("shop", "countryOfOrigin");

-- CreateIndex
CREATE INDEX "Variant_shop_hsTariffCode_idx" ON "Variant"("shop", "hsTariffCode");

-- CreateIndex
CREATE INDEX "Variant_shop_option1Value_idx" ON "Variant"("shop", "option1Value");

-- CreateIndex
CREATE INDEX "Variant_shop_option2Value_idx" ON "Variant"("shop", "option2Value");

-- CreateIndex
CREATE INDEX "Variant_shop_option3Value_idx" ON "Variant"("shop", "option3Value");

-- CreateIndex
CREATE INDEX "Variant_shop_tracked_idx" ON "Variant"("shop", "tracked");

-- CreateIndex
CREATE INDEX "Variant_shop_physicalProduct_idx" ON "Variant"("shop", "physicalProduct");

-- CreateIndex
CREATE INDEX "Variant_shop_profitMargin_idx" ON "Variant"("shop", "profitMargin");

-- CreateIndex
CREATE INDEX "SpreadsheetFile_shop_idx" ON "SpreadsheetFile"("shop");

-- CreateIndex
CREATE UNIQUE INDEX "Store_shopUrl_key" ON "Store"("shopUrl");

-- CreateIndex
CREATE UNIQUE INDEX "Store_referralCode_key" ON "Store"("referralCode");

-- CreateIndex
CREATE UNIQUE INDEX "Store_referralLink_key" ON "Store"("referralLink");

-- CreateIndex
CREATE INDEX "Store_isProductSyncing_idx" ON "Store"("isProductSyncing");

-- CreateIndex
CREATE INDEX "Store_lastProductSyncAt_idx" ON "Store"("lastProductSyncAt");

-- CreateIndex
CREATE INDEX "Store_isCollectionSyncing_idx" ON "Store"("isCollectionSyncing");

-- CreateIndex
CREATE INDEX "Store_lastCollectionSyncAt_idx" ON "Store"("lastCollectionSyncAt");

-- CreateIndex
CREATE INDEX "Store_lastProductTypeSyncAt_idx" ON "Store"("lastProductTypeSyncAt");

-- CreateIndex
CREATE INDEX "Store_referralCode_idx" ON "Store"("referralCode");

-- CreateIndex
CREATE INDEX "Store_referredBy_idx" ON "Store"("referredBy");

-- CreateIndex
CREATE INDEX "Store_lastActivityAt_idx" ON "Store"("lastActivityAt");

-- CreateIndex
CREATE INDEX "Store_isUnInstalled_idx" ON "Store"("isUnInstalled");

-- CreateIndex
CREATE INDEX "Store_installedAt_idx" ON "Store"("installedAt");

-- CreateIndex
CREATE INDEX "Store_createdAt_idx" ON "Store"("createdAt");

-- CreateIndex
CREATE INDEX "Subscription_shop_idx" ON "Subscription"("shop");

-- CreateIndex
CREATE INDEX "Suggestion_email_idx" ON "Suggestion"("email");

-- CreateIndex
CREATE INDEX "SyncHistory_shop_createdAt_idx" ON "SyncHistory"("shop", "createdAt");

-- CreateIndex
CREATE INDEX "SyncHistory_shop_status_idx" ON "SyncHistory"("shop", "status");

-- CreateIndex
CREATE INDEX "SyncHistory_shop_operationType_idx" ON "SyncHistory"("shop", "operationType");

-- CreateIndex
CREATE INDEX "shop_status_type_recent" ON "EditHistory"("shop", "status", "type", "updatedAt");

-- CreateIndex
CREATE INDEX "EditHistory_shop_idx" ON "EditHistory"("shop");

-- CreateIndex
CREATE INDEX "EditHistory_isSpreadsheetEdit_idx" ON "EditHistory"("isSpreadsheetEdit");

-- CreateIndex
CREATE INDEX "Collection_updatedAt_idx" ON "Collection"("updatedAt");

-- CreateIndex
CREATE INDEX "Collection_shop_title_idx" ON "Collection"("shop", "title");

-- CreateIndex
CREATE INDEX "ExportHistory_shop_createdAt_idx" ON "ExportHistory"("shop", "createdAt");

-- CreateIndex
CREATE INDEX "ExportHistory_shop_status_idx" ON "ExportHistory"("shop", "status");

-- CreateIndex
CREATE INDEX "ExportHistory_shop_isFavourite_idx" ON "ExportHistory"("shop", "isFavourite");

-- CreateIndex
CREATE INDEX "ExportHistory_shop_type_idx" ON "ExportHistory"("shop", "type");

-- CreateIndex
CREATE INDEX "ExportHistory_shop_exportTime_idx" ON "ExportHistory"("shop", "exportTime");

-- CreateIndex
CREATE INDEX "ExportJob_shop_idx" ON "ExportJob"("shop");

-- CreateIndex
CREATE INDEX "ExportJob_status_idx" ON "ExportJob"("status");

-- CreateIndex
CREATE INDEX "ChangeRecord_editHistoryId_idx" ON "ChangeRecord"("editHistoryId");

-- CreateIndex
CREATE INDEX "ChangeRecord_productId_idx" ON "ChangeRecord"("productId");

-- CreateIndex
CREATE INDEX "ChangeRecord_shop_idx" ON "ChangeRecord"("shop");

-- CreateIndex
CREATE INDEX "ChangeRecord_status_idx" ON "ChangeRecord"("status");

-- CreateIndex
CREATE INDEX "ChangeRecord_batchId_idx" ON "ChangeRecord"("batchId");

-- CreateIndex
CREATE INDEX "FilterTrack_shop_idx" ON "FilterTrack"("shop");

-- CreateIndex
CREATE INDEX "FilterTrack_type_idx" ON "FilterTrack"("type");

-- CreateIndex
CREATE INDEX "ReferralCode_shop_idx" ON "ReferralCode"("shop");

-- CreateIndex
CREATE UNIQUE INDEX "AffiliateUser_email_key" ON "AffiliateUser"("email");

-- CreateIndex
CREATE UNIQUE INDEX "AffiliateUser_referralCode_key" ON "AffiliateUser"("referralCode");

-- CreateIndex
CREATE UNIQUE INDEX "AffiliateUser_referralLink_key" ON "AffiliateUser"("referralLink");

-- CreateIndex
CREATE INDEX "AffiliateUser_referralCode_idx" ON "AffiliateUser"("referralCode");

-- CreateIndex
CREATE INDEX "Location_shop_idx" ON "Location"("shop");

-- CreateIndex
CREATE INDEX "ErrorLog_shop_idx" ON "ErrorLog"("shop");

-- CreateIndex
CREATE INDEX "ErrorLog_type_idx" ON "ErrorLog"("type");

-- CreateIndex
CREATE INDEX "ErrorLog_level_idx" ON "ErrorLog"("level");

-- CreateIndex
CREATE INDEX "ErrorLog_source_idx" ON "ErrorLog"("source");

-- CreateIndex
CREATE INDEX "ErrorLog_createdAt_idx" ON "ErrorLog"("createdAt");

-- AddForeignKey
ALTER TABLE "Variant" ADD CONSTRAINT "Variant_shop_productId_fkey" FOREIGN KEY ("shop", "productId") REFERENCES "Product"("shop", "id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ChangeRecord" ADD CONSTRAINT "ChangeRecord_editHistoryId_fkey" FOREIGN KEY ("editHistoryId") REFERENCES "EditHistory"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

